.container{
width: 20%;
margin: 2em;
padding-bottom: 5em;
display: flex;
justify-content: space-between;
flex-direction: column;
align-items: center;
overflow: hidden;

img{
    width: 100%;
    background-color: #2cd5c4;

    
}
h1{
    padding-bottom:1em;
}
}